!!!
%html
  %head
    %title Dealership
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true
  %body
    %header
      %nav.navbar.navbar-expand-sm.bg-light.border-bottom
        .container-fluid
          %span.navbar-brand.mb-0.h1 Dealership
          = button_tag type: 'button',
                       class: 'navbar-toggler',
                       data: { 'bs-target': '#navbar-content', 'bs-toggle': 'collapse' },
                       aria: { controls: 'navbar-content', expanded: 'false', label: 'Toggle' } do
            %span.navbar-toggler-icon
          #navbar-content.collapse.navbar-collapse
            %ul.navbar-nav.mb-2.mb-sm-0.me-auto
              %li.nav-item
                = link_to 'Home',
                          root_path,
                          class: ['nav-link', current_page?(root_path).presence && 'active'],
                          'aria-current': current_page?(root_path) && 'page'
      .container.mt-3
        - flash.each do |variant, content|
          = render layout: 'layouts/alert', locals: { variant: variant } do
            = content
    %main
      = yield
